header, footer{
  height: 90px;
  color: white;
  z-index: 900;
}
/* btn */
.mg-btn{
  border: 1px solid white;
  color: white;
  padding: 10px;
}

.mg-btn:hover{
  background-color: white;
}

.mg-btn i {
  padding-right: 5px;
}

/* star */
.starline{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  max-width: 375px;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
}

.line{
  width: 40%;
  height: 3px;
  border-radius: 4px;
}

.green_bg .line{
  background-color: white;
}

.white_bg .line{
  background-color: #2c3e50;
}
/* section */

.mg-section-title{
  font-weight: 600;
  text-transform: uppercase;
}

.mg-colored{
  color: #1abc9c;
}

.green_bg{
  background-color: #1abc9c;
  color: white;
}

.memory_card_box{
  color: orange;
  font-weight: bolder;
}

.blue_bg{
  background-color: #2c3e50;
}

.lightblue_bg{
  background-color: #3a546d;
  color: white;
}

.white_bg{
  background-color: white;
}

.logo{
  font-size: 20px;
  font-weight: bolder;
}

.circle{
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 2.5px;
}

.circle i{
  vertical-align: middle;
  font-size: 12px;
}

.mg-container-60{
  width: 60%;
  margin: 0 auto;
}

.mg-container-70{
  width: 70%;
  margin: 0 auto;
}

.mg-py-50{
  padding: 50px 0;
}

/* menu */

.mg-menu a{
  color: white;
  text-decoration: none;
  font-size: 20pxpx;
  font-weight: bolder;
}

.mg-hamb-menu i{
  color: #888888;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.mg-menu ul li{
  display: inline-block;
  list-style: none;
  font-size: 12px;
  margin-left: 12px;
}

.mg-menu ul li a:hover, .mg-menu ul li a:active{
  color: #1abc9c;
}

/* JUMBOTRON */

.mg-jumbotron{
  margin-top: 90px;
}


.mg-profile-avatar{
  width: 200px;
}

.mg-jumbo-title, .mg-jumbo-jobs-skills{
  font-weight: bolder;
  text-transform: uppercase;
}

/* portfolio */

.mg-card-box{
  margin: 20px 0;
  position: relative;
  cursor: pointer;
}

.mg-card-box-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 188, 156, .5);
  border-radius: 10px;
  visibility: hidden;
}

.mg-card-box-overlay i{
  color: white;
  font-size: 70px;
}
.mg-card-box:hover > .mg-card-box-overlay{
  visibility: visible;
}


.mg-card-box img{
width: 100%;
border-radius: 10px;
}

/* contact */

form{
  padding-top: 30px;
}

.mg-custom-border{
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
}

.mg-bg-green{
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}

/* footer top */

.mg-ft-title{
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 0;
}
.icon{
  margin-top: 5px;
}
